@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html,
body {
  margin: 10px;
  margin-bottom: 10px;
  overflow-y: hidden;
}

body {
  background: rgb(235, 195, 152);
  background: linear-gradient(
    138deg,
    rgba(235, 195, 152, 1) 3%,
    rgba(212, 235, 190, 1) 28%,
    rgba(196, 245, 239, 1) 54%,
    rgba(242, 216, 228, 1) 76%,
    rgba(242, 216, 228, 1) 77%
  );
  /* background: rgb(35, 96, 110);
  background: linear-gradient(
    159deg,
    rgba(35, 96, 110, 1) 10%,
    rgba(2, 53, 53, 1) 88%
  ); */
  background-size: 130em;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 2fr;
  gap: 12px 12px;
  grid-auto-flow: row;
  justify-content: space-around;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "Header-Pic empty empty empty empty empty empty"
    "Header-Pic About-me About-me About-me Knowledge skills skills"
    "Header-Pic Experience Experience Education Knowledge social social"
    "Header-Pic Experience Experience Education projects projects hobbbies"
    "Header-Pic Career Career Education projects projects click";
  width: 78em;
  height: 35em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.4em;
  color: black;
  text-align: center;
}

.empty {
  grid-area: empty;
  background: rgb(141, 18, 222);
  background: linear-gradient(
    315deg,
    rgba(141, 18, 222, 1) 29%,
    rgba(255, 20, 158, 1) 100%
  );
  border-radius: 30px;
  position: relative;
  box-shadow: 3px 3px 2px rgb(1, 188, 235),
    5px 5px 4px rgba(235, 22, 121, 0.972);
  transition: all 1s;
  position: relative;
}

.empty:hover {
  border-radius: 50px;
}

.fa-envelope {
  position: absolute;
  font-size: 30px;
  left: 10%;
  top: 20%;
  transition: color ease-in-out 0.5s;
}

.fa-envelope:hover {
  color: rgb(23, 250, 196);
}

.mail {
  position: absolute;
  left: 15%;
}

.fa-mobile {
  position: absolute;
  font-size: 30px;
  left: 10%;
  top: 55%;
  transition: color ease-in-out 0.5s;
}

.fa-mobile:hover {
  color: rgb(23, 250, 196);
}

.number {
  position: absolute;
  left: 15%;
  top: 35%;
}

.btn {
  background: rgb(35, 96, 110);
  background: linear-gradient(
    159deg,
    rgba(35, 96, 110, 1) 10%,
    rgba(2, 53, 53, 1) 88%
  );
  color: #fff;
  size: 25px;
  border-radius: 20px;
  position: absolute;
  font-size: 30px;
  left: 80%;
  top: 20%;
  padding: 15px;
  transition: all ease 0.5s;
  display: none;
  cursor: pointer;
}

.empty:hover .btn {
  display: block;
}

.btn:hover {
  box-shadow: 2px 2px 1px rgb(1, 188, 235),
    5px 5px 4px rgba(235, 22, 121, 0.972);
}

.Header-Pic {
  grid-area: Header-Pic;
  background: rgb(23, 250, 196);
  background: linear-gradient(
    45deg,
    rgba(23, 250, 196, 1) 42%,
    rgba(18, 144, 222, 1) 94%
  );
  border-radius: 50px;
  position: relative;
  transition: border-radius 1s;
  box-shadow: 3px 3px 2px rgb(1, 188, 235),
    5px 5px 4px rgba(235, 22, 121, 0.972);
}

.Header-Pic:hover {
  border-radius: 0;
}

.myimage {
  position: absolute;
  top: 10%;
  left: 14%;
  height: 20em;
  width: 14em;
  border-radius: 10%;
}

.Header-Pic p {
  position: absolute;
  top: 65%;
  left: 5%;
}

.About-me {
  grid-area: About-me;
  background: rgb(23, 250, 196);
  background: linear-gradient(
    45deg,
    rgba(23, 250, 196, 1) 42%,
    rgba(18, 144, 222, 1) 94%
  );
  border-radius: 30px;
  position: relative;

  box-shadow: 3px 3px 2px rgb(1, 188, 235),
    5px 5px 4px rgba(235, 22, 121, 0.972);
  transition: border-radius 1s;
}

.About-me:hover {
  border-radius: 0;
}

.About-me p {
  position: absolute;
  top: 45%;
  left: 40%;
}
.fa-snowman {
  position: absolute;
  top: 15%;
  left: 45%;
  font-size: 50px;
  color: crimson;
  transition: font-size ease 0.4s;
}

.fa-snowman:hover {
  font-size: 60px;
}

.Experience {
  grid-area: Experience;
  background: rgb(23, 250, 196);
  background: linear-gradient(
    45deg,
    rgba(23, 250, 196, 1) 42%,
    rgba(18, 144, 222, 1) 94%
  );
  border-radius: 30px;
  position: relative;
  box-shadow: 3px 3px 2px rgb(1, 188, 235),
    5px 5px 4px rgba(235, 22, 121, 0.972);
  transition: border-radius 1s;
}

.Experience:hover {
  border-radius: 0;
}

.Experience p {
  position: absolute;
  top: 50%;
  left: 30%;
}

.fa-briefcase {
  position: absolute;
  top: 35%;
  left: 40%;
  font-size: 50px;
  color: crimson;
  transition: font-size ease 0.4s;
}

.fa-briefcase:hover {
  font-size: 60px;
}

.Career {
  grid-area: Career;
  background: rgb(141, 18, 222);
  background: linear-gradient(
    315deg,
    rgba(141, 18, 222, 1) 29%,
    rgba(255, 20, 158, 1) 100%
  );
  border-radius: 30px;
  position: relative;
  box-shadow: 3px 3px 2px rgb(1, 188, 235),
    5px 5px 4px rgba(235, 22, 121, 0.972);
  transition: border-radius 1s;
}

.Career:hover {
  border-radius: 0;
}

.Career p {
  position: absolute;
  top: 40%;
  left: 20%;
}

.fa-globe {
  position: absolute;
  top: 15%;
  left: 42%;
  font-size: 40px;
  color: darkturquoise;
  transition: font-size ease 0.2s;
}

.fa-globe:hover {
  font-size: 50px;
}

.Education {
  grid-area: Education;
  background: rgb(23, 250, 196);
  background: linear-gradient(
    45deg,
    rgba(23, 250, 196, 1) 42%,
    rgba(18, 144, 222, 1) 94%
  );
  border-radius: 30px;
  position: relative;
  box-shadow: 3px 3px 2px rgb(1, 188, 235),
    5px 5px 4px rgba(235, 22, 121, 0.972);
  transition: border-radius 1s;
}

.Education:hover {
  border-radius: 0;
}

.Education p {
  position: absolute;
  top: 50%;
  left: 15%;
}

.fa-user-graduate {
  position: absolute;
  top: 40%;
  left: 30%;
  font-size: 50px;
  color: crimson;
  transition: font-size ease 0.4s;
}

.fa-user-graduate:hover {
  font-size: 60px;
}

.Knowledge {
  grid-area: Knowledge;
  background: rgb(23, 250, 196);
  background: linear-gradient(
    45deg,
    rgba(23, 250, 196, 1) 42%,
    rgba(18, 144, 222, 1) 94%
  );
  border-radius: 30px;
  position: relative;
  box-shadow: 3px 3px 2px rgb(1, 188, 235),
    5px 5px 4px rgba(235, 22, 121, 0.972);
  transition: border-radius 1s;
}

.Knowledge:hover {
  border-radius: 0;
}

.Knowledge p {
  position: absolute;
  top: 50%;
  left: 32%;
}

.fa-laptop-code {
  position: absolute;
  top: 35%;
  left: 28%;
  font-size: 50px;
  color: crimson;
  transition: font-size ease 0.4s;
}

.fa-laptop-code:hover {
  font-size: 60px;
}

.skills {
  grid-area: skills;
  background: rgb(23, 250, 196);
  background: linear-gradient(
    45deg,
    rgba(23, 250, 196, 1) 42%,
    rgba(18, 144, 222, 1) 94%
  );
  border-radius: 30px;
  position: relative;
  box-shadow: 3px 3px 2px rgb(1, 188, 235),
    5px 5px 4px rgba(235, 22, 121, 0.972);
  transition: border-radius 1s;
}

.skills:hover {
  border-radius: 0;
}

.skills p {
  position: absolute;
  top: 20%;
  left: 40%;
}

.fa-redhat {
  position: absolute;
  top: 30%;
  left: 20%;
  font-size: 50px;
  color: crimson;
  transition: font-size ease 0.4s;
}

.fa-redhat:hover {
  font-size: 60px;
}

.social {
  grid-area: social;
  background: rgb(141, 18, 222);
  background: linear-gradient(
    315deg,
    rgba(141, 18, 222, 1) 29%,
    rgba(255, 20, 158, 1) 100%
  );
  border-radius: 30px;
  position: relative;
  box-shadow: 3px 3px 2px rgb(1, 188, 235),
    5px 5px 4px rgba(235, 22, 121, 0.972);
  transition: border-radius 1s;
  position: relative;
}

.social:hover {
  border-radius: 0;
}

.social i {
  font-size: 50px;
  color: #012340;
  position: absolute;
  transition: color ease-in-out 0.5s;
}

.social i:hover {
  color: #6dfad0;
}

.fa-github {
  top: 25%;
  left: 15%;
}

.fa-twitter {
  top: 25%;
  left: 40%;
}

.fa-linkedin-in {
  top: 25%;
  left: 65%;
}

.projects {
  grid-area: projects;
  background: rgb(23, 250, 196);
  background: linear-gradient(
    45deg,
    rgba(23, 250, 196, 1) 42%,
    rgba(18, 144, 222, 1) 94%
  );
  border-radius: 30px;
  position: relative;
  box-shadow: 3px 3px 2px rgb(1, 188, 235),
    5px 5px 4px rgba(235, 22, 121, 0.972);
  transition: border-radius 1s;
}

.projects:hover {
  border-radius: 0;
}

.projects p {
  position: absolute;
  top: 45%;
  left: 37%;
}

.fa-code {
  position: absolute;
  top: 30%;
  left: 40%;
  font-size: 50px;
  color: crimson;
  transition: font-size ease 0.4s;
}

.fa-code:hover {
  font-size: 60px;
}

.hobbbies {
  grid-area: hobbbies;
  background: rgb(23, 250, 196);
  background: linear-gradient(
    45deg,
    rgba(23, 250, 196, 1) 42%,
    rgba(18, 144, 222, 1) 94%
  );
  border-radius: 30px;
  position: relative;
  box-shadow: 3px 3px 2px rgb(1, 188, 235),
    5px 5px 4px rgba(235, 22, 121, 0.972);
  transition: border-radius 1s;
}

.hobbbies:hover {
  border-radius: 0;
}

.hobbbies p {
  position: absolute;
  top: 50%;
  left: 20%;
}

.fa-angellist {
  position: absolute;
  top: 20%;
  left: 35%;
  font-size: 50px;
  color: crimson;
  transition: font-size ease 0.4s;
}

.fa-angellist:hover {
  font-size: 60px;
}

.click {
  grid-area: click;
  background: rgb(35, 96, 110);
  background: linear-gradient(
    159deg,
    rgba(35, 96, 110, 1) 10%,
    rgba(2, 53, 53, 1) 88%
  );
  border-radius: 30px;
  position: relative;
  box-shadow: 3px 3px 2px rgb(1, 188, 235),
    5px 5px 4px rgba(235, 22, 121, 0.972);
  transition: border-radius 1s;
}

.click:hover {
  border-radius: 0;
}

.click p {
  position: absolute;
  top: 40%;
  left: 20%;
}

.fa-file {
  position: absolute;
  top: 20%;
  left: 40%;
  font-size: 40px;
  color: crimson;
  transition: font-size ease 0.4s;
}

.fa-file:hover {
  font-size: 50px;
}

@media (max-width: 1024px) and (max-height: 641px) {
  html,
  body {
    margin: 10px;
    margin-bottom: 10px;
    overflow-y: hidden;
  }
  .container {
    padding: 2em;
  }
}

@media (max-width: 768px) and (max-height: 641px) {
  html,
  body {
    margin: 10px;
    margin-bottom: 10px;
    overflow-y: hidden;
  }
  .container {
    padding-top: 1em;
  }
}

@media (max-width: 600px) and (max-height: 1024px) {
  html,
  body {
    height: 100vh;
    margin: 10px;
    margin-bottom: 10px;
    overflow-y: hidden;
  }
  .container {
    padding-top: 1em;
  }
}
